.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.history
.idea
.vercel
.vscode
.yarn
*.log
*.tgz
build
!apps/image-board-desktop/build/
apps/image-board-desktop/build/*
!apps/image-board-desktop/build/icon.icns
!apps/image-board-desktop/build/icon.png
dist
firebase
logs
node_modules
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
packages/excalidraw/types
coverage
dev-dist
html
meta*.json
.claude
